.ea-plugin-component-btn {
  @bg-color: #f6f6f6;
  @border-color: #ddd;
  @font-size: 16px;
  @font-color: #444;

  @disabled-font-color: #bbb;
  @disabled-bg-color: #ddd;

  @btn-height: 30px;
  @side-padding: 10px;

  display: inline-block;
  height: @btn-height;
  padding: 0 @side-padding;

  background-color: @bg-color;
  border: 2px solid @border-color;

  font-family: "Helvetica Neue", "Trebuchet", Helvetica, Verdana, Arial, sans-serif;
  font-size: @font-size;
  color: @font-color;

  cursor: pointer;

  &.ea-plugin-component-btn--disabled {
    color: @disabled-font-color;
    background-color: @disabled-bg-color;

    cursor: default;
  }
}