#tinymce-ea-plugin-treeview {
  //border: 2px solid #bbb;
  //background-color: #eee;
  padding: 5px;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;

  font-family: "Helvetica Neue", "Trebuchet", Helvetica, Verdana, Arial, sans-serif;
  color: #444;
  white-space: nowrap;

  .item {
    @line-height: 22px;
    @item-padding: 4px;

    position: relative;
    margin-bottom: @item-padding;
    padding-left: calc(@line-height + @item-padding);

    &>.wrap-icon {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      &:before {
        content: "L";
        display: inline-block;
        width: @line-height;
        height: @line-height;
        font-size: .8em;
        font-weight: normal;
        color: #000;
        text-align: center;
        line-height: 20px;
      }
    }

    &.item--has-children>.wrap-icon {
      cursor: pointer;

      &:before, &:after {
        width: @line-height;
        height: @line-height;
        text-align: center;
        line-height: 20px;
        background-color: #bbb;
      }

      &:before {
        content: "+";
        display: inline-block;
        font-size: 1em;
        color: #000;
      }

      &:after {
        content: "–";
        display: none;
        font-size: 1em;
        color: #000;
      }
    }

    &>.item-cont {
      display: block;
      height: @line-height;
      box-sizing: border-box;
      cursor: default;

      .image {
        display: inline-block;
        width: @line-height;
        height: @line-height;
        background-color: #fff;
        border: 1px solid #bbb;
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
      }

      .name {
        display: inline-block;
        padding-left: @item-padding;
        position: relative;
        top: -6px;
      }
    }

    &.item--type-1 > .item-cont .image {
      background-image: url("../imgs/diagram.png");
    }
    &.item--type-2 > .item-cont .image {
      background-image: url("../imgs/package.png");
    }
    &.item--type-3 > .item-cont .image {
      background-image: url("../imgs/element.png");
    }
    &.item--type-4 > .item-cont .image {
      background-image: url("../imgs/method.png");
    }
    &.item--type-5 > .item-cont .image {
      background-image: url("../imgs/attribute.png");
    }

    &.item--selected {
      &>.item-cont {
        background-color: rgba(142, 190, 229, 1);
      }
    }

    &>.children {
      display: none;
      margin-top: @item-padding;
    }

    &.item--unwrapped {
      &>.wrap-icon {
        &:before {
          display: none;
        }

        &:after {
          display: inline-block;
        }
      }

      &>.item-cont {
      }

      &>.children {
        display: block;
      }
    }
  }
}