.ea-plugin-component-window {
  @bg-color: #f6f6f6;
  @border-color: #ddd;
  @font-color: #444;

  @top-panel-height: 30px;
  @buttons-panel-height: 40px;

  &.ea-plugin-component-window--hidden {
    display: none;
  }

  .window-container {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: @bg-color;
    border: 2px solid @border-color;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;

    font-family: "Helvetica Neue", "Trebuchet", Helvetica, Verdana, Arial, sans-serif;
    color: @font-color;
    overflow: hidden;

    .buttons {
      display: none;
    }

    &.window-container--has-buttons {
      padding-bottom: @buttons-panel-height;

      .buttons {
        display: block;
      }
    }

    .content {
      width: 100%;
      height: auto;
      overflow: auto;
    }

    .top-panel {
      position: relative;
      height: @top-panel-height;
      background-color: @border-color;
      cursor: move;
      user-select: none;

      .title {
        margin: 0;
        padding: 0;
        padding-left: calc(@top-panel-height/3);
        text-align: left;
        height: @top-panel-height;
        line-height: @top-panel-height;
        font-size: calc(@top-panel-height/1.75);
      }

      .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: @top-panel-height;
        height: @top-panel-height;
        background-color: @bg-color;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          right: 25%;
          display: block;
          width: calc(@top-panel-height/2);
          height: 2px;
          background-color: #000;
          transform: rotate(45deg);
          transform-origin: 50% 50%;
        }

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 25%;
          display: block;
          width: calc(@top-panel-height/2);
          height: 2px;
          background-color: #000;
          transform: rotate(-45deg);
          transform-origin: 50% 50%;
        }
      }
    }

    .buttons {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: @buttons-panel-height;
      background-color: @border-color;
      padding-top: 5px;
      box-sizing: border-box;
    }
  }
}