.ea-type-1, .ea-type-2, .ea-type-3, .ea-type-4, .ea-type-5, .ea-type-image {
  user-select: none;
}

.ea-type-1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #933;
}

.ea-type-2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #633;
}

.ea-type-3 {
  font-size: 1.3em;
  font-weight: bold;
  color: #633;
}

.ea-type-4 {
  font-size: 1.1em;
  font-weight: bold;
  color: #363;
}

.ea-type-5 {
  font-size: 1.1em;
  font-weight: bold;
  color: #336;
}

.ea-type-image {
  display: block;
  text-align: center;
}

.ea-type-image img {
  margin: 10px;
  padding: 10px;
  border: 10px solid #ddd;
}